@value greenLighten-1 from "../../../styles/colors.css";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
}

.locationItem {
  display: flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gray;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  min-width: 600px;
}

.locationItem:focus {
  background-color: greenLighten-1;
}

.locationNameCopy {
  font-size: 1.4rem;
  padding-left: 8px;
}

.iconButton {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.chips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
